In [1]:
# Load the data
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('example.csv')

# Display the first few rows
df.head()

,Salesperson,Before Training Sales (k$),After Training Sales (k$),Difference (After - Before)
0,1,52,58,6
1,2,45,49,4
2,3,61,65,4
3,4,75,74,-1
4,5,55,60,5

In [13]:
# Calculate the mean and standard deviation
df["diff"] = df["Difference (After - Before)"]
mean_diff = df["diff"].mean()
mean_diff2 = df["diff"].sum() / len(df)
std_diff = df["diff"].std()
std_diff2 = (((df["diff"]-mean_diff) ** 2).sum() / (len(df) - 1)) ** 0.5

In [ ]:
# Calculate the t-statistic
n = len(df)
t_statistic = mean_diff / (std_diff / (n ** 0.5))

In [ ]:
# Calculate the p-value
from scipy import stats
p_value = 2 * (1 - stats.t.cdf(abs(t_statistic), df=n-1))

# Conclusion since p value is 0.001744 and therefore << 0.05, we reject the null hypothesis